<div class="hero-container">
<div class="hero__content-wrapper">
<h1 class="gb-text hero__title">{{POST_TITLE}}</h1>



<div class="hero__metadata-group">
<p class="hero__metadata-item--author"><span class="gb-shape"><svg viewBox="0 0 3 36.7" xmlns="https://www.w3.org/2000/svg"><path d="M0 0h3v36.7H0z"></path></svg></span><span class="gb-text">{{POST_AUTHOR}}</span></p>



<p class="hero__metadata-item--category"><span class="gb-shape"><svg viewBox="0 0 3 36.7" xmlns="https://www.w3.org/2000/svg"><path d="M0 0h3v36.7H0z"></path></svg></span><span class="gb-text"><span>{{POST_CATEGORY}}</span></span></p>



<p class="hero__metadata-item--date"><span class="gb-shape"><svg viewBox="0 0 3 36.7" xmlns="https://www.w3.org/2000/svg"><path d="M0 0h3v36.7H0z"></path></svg></span><span class="gb-text">{{POST_DATE}}</span></p>
</div>
</div>
