<div class="hero-container">
<div class="gb-element-65aa24d4">
<h1 class="gb-text gb-text-74f92ea1">{{POST_TITLE}}</h1>



<div class="gb-element-c208d8e1">
<p class="gb-text-cd6c9335"><span class="gb-shape"><svg viewBox="0 0 3 36.7" xmlns="https://www.w3.org/2000/svg"><path d="M0 0h3v36.7H0z"></path></svg></span><span class="gb-text">{{POST_AUTHOR}}</span></p>



<p class="gb-text-42e4a7df"><span class="gb-shape"><svg viewBox="0 0 3 36.7" xmlns="https://www.w3.org/2000/svg"><path d="M0 0h3v36.7H0z"></path></svg></span><span class="gb-text"><span>{{POST_CATEGORY}}</span></span></p>



<p class="gb-text-12f7e1fd"><span class="gb-shape"><svg viewBox="0 0 3 36.7" xmlns="https://www.w3.org/2000/svg"><path d="M0 0h3v36.7H0z"></path></svg></span><span class="gb-text">{{POST_DATE}}</span></p>
</div>
</div>
