<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Dynamic SEO and Meta Content -->
    {{SEO_META_CONTENT}}
    
    <!-- Core WordPress CSS -->
    <link rel="stylesheet" href="https://cdn.cruisemadeeasy.com/blog-css/core-variables.css">
    <link rel="stylesheet" href="https://cdn.cruisemadeeasy.com/blog-css/core-blocks.min.css">
    <link rel="stylesheet" href="https://cdn.cruisemadeeasy.com/blog-css/core-classic-theme.min.css">
    <link rel="stylesheet" href="https://cdn.cruisemadeeasy.com/blog-css/core-global-styles.min.css">
    
    <!-- GeneratePress Theme CSS -->
    <link rel="stylesheet" href="https://cdn.cruisemadeeasy.com/blog-css/theme-main.min.css">
    <link rel="stylesheet" href="https://cdn.cruisemadeeasy.com/blog-css/theme-inline.min.css">
    <link rel="stylesheet" href="https://cdn.cruisemadeeasy.com/blog-css/theme-dynamic.min.css">
    <link rel="stylesheet" href="https://cdn.cruisemadeeasy.com/blog-css/theme-fonts.css">
    
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="https://cdn.cruisemadeeasy.com/blog-css/plugin-generateblocks.min.css">
    <link rel="stylesheet" href="https://cdn.cruisemadeeasy.com/blog-css/plugin-fontawesome-svg.min.css">
    <link rel="stylesheet" href="https://cdn.cruisemadeeasy.com/blog-css/plugin-fontawesome-default.min.css">
    <link rel="stylesheet" href="https://cdn.cruisemadeeasy.com/blog-css/plugin-fontawesome-inline.min.css">
    <link rel="stylesheet" href="https://cdn.cruisemadeeasy.com/blog-css/plugin-seopress-business.min.css">
    <link rel="stylesheet" href="https://cdn.cruisemadeeasy.com/blog-css/plugin-seopress-toc.min.css">
    <link rel="stylesheet" href="https://cdn.cruisemadeeasy.com/blog-css/plugin-dominant-colors.min.css">
    
    <!-- Template Component CSS -->
    <link rel="stylesheet" href="https://cdn.cruisemadeeasy.com/blog-css/component-page-frame.css">
    <link rel="stylesheet" href="https://cdn.cruisemadeeasy.com/blog-css/component-header.css">
    <link rel="stylesheet" href="https://cdn.cruisemadeeasy.com/blog-css/component-hero.css">
    <link rel="stylesheet" href="https://cdn.cruisemadeeasy.com/blog-css/component-blog-cta.css">
    <link rel="stylesheet" href="https://cdn.cruisemadeeasy.com/blog-css/component-post-navigation.css">
    <link rel="stylesheet" href="https://cdn.cruisemadeeasy.com/blog-css/component-footer.css">
</head>
<body class="{{BODY_CLASSES}}" itemtype="https://schema.org/WebPage" itemscope="">>
    <!-- Header Component -->
    {{HEADER_CONTENT}}
    
    <!-- Main Content -->
    <main class="site-main">
        <!-- Hero Component -->
        {{HERO_CONTENT}}
        
        <!-- Post Content -->
        <div class="post-content">
            {{POST_CONTENT}}
        </div>
        
        <!-- Blog CTA Component -->
        {{BLOG_CTA_CONTENT}}
        
        <!-- Post Navigation Component -->
        {{POST_NAVIGATION_CONTENT}}
    </main>
    
    <!-- Footer Component -->
    {{FOOTER_CONTENT}}
</body>
</html>