<div class="paging-navigation">
<div class="gb-element-d1372a50">
<div class="gb-element-8babdb99">
<div class="gb-element-2245e1ea"><a href="{{PREV_POST_URL}}"><img width="100" height="100" class="dynamic-featured-image not-transparent wp-post-image" alt="{{PREV_POST_ALT}}" decoding="async" data-has-transparency="false" data-dominant-color="{{PREV_POST_DOMINANT_COLOR}}" style="display:none;visibility:hidden;" data-cfsrc="{{PREV_POST_IMAGE_URL}}" data-cfstyle="--dominant-color: {{PREV_POST_DOMINANT_COLOR}};"><noscript><img width="100" height="100" src="{{PREV_POST_IMAGE_URL}}" class="dynamic-featured-image not-transparent wp-post-image" alt="{{PREV_POST_ALT}}" decoding="async" data-has-transparency="false" data-dominant-color="{{PREV_POST_DOMINANT_COLOR}}" style="--dominant-color: {{PREV_POST_DOMINANT_COLOR}};"></noscript></a>


<p class="gb-text-df52da50"><span class="gb-shape"><svg viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" height="16" width="16" xmlns="https://www.w3.org/2000/svg">   <path d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" fill-rule="evenodd"></path> </svg></span><span class="gb-text"><a href="{{PREV_POST_URL}}">{{PREV_POST_TITLE}}</a></span></p>
</div>



<div class="gb-element-3a7edbd3"><a href="{{NEXT_POST_URL}}"><img width="100" height="100" class="dynamic-featured-image not-transparent wp-post-image" alt="{{NEXT_POST_ALT}}" decoding="async" data-has-transparency="false" data-dominant-color="{{NEXT_POST_DOMINANT_COLOR}}" style="display:none;visibility:hidden;" data-cfsrc="{{NEXT_POST_IMAGE_URL}}" data-cfstyle="--dominant-color: {{NEXT_POST_DOMINANT_COLOR}};"><noscript><img width="100" height="100" src="{{NEXT_POST_IMAGE_URL}}" class="dynamic-featured-image not-transparent wp-post-image" alt="{{NEXT_POST_ALT}}" decoding="async" data-has-transparency="false" data-dominant-color="{{NEXT_POST_DOMINANT_COLOR}}" style="--dominant-color: {{NEXT_POST_DOMINANT_COLOR}};"></noscript></a>

<p class="gb-text-9a551628"><span class="gb-shape"><svg viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" height="16" width="16" xmlns="https://www.w3.org/2000/svg">   <path d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" fill-rule="evenodd"></path> </svg></span><span class="gb-text"><a href="{{NEXT_POST_URL}}">{{NEXT_POST_TITLE}}</a></span></p>


</div>
</div>
</div>
</div>